.assetBody {
  width: 80%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: column;
}
.nameInput {
  width: 80%;
  height: auto;
  font-size: 32px;
  text-align: center;
}
.nameInput:disabled {
  color: black;
  background: none;
  border: none;
}
.assetContainer {
  gap: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.assetInfoContainer {
  gap: 10px;
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.inputID {
  width: 464px;
  height: 41px;
}
.inputID:disabled {
  color: black;
  background: none;
  border: none;
}
.descriptionText {
  min-width: 400px;
  min-height: 100px;
  resize: vertical;
}
.descriptionText:disabled {
  color: black;
  background: none;
  border: none;
}
.assetImage {
  width: 360px;
  height: 360px;
  object-fit: cover;
}
.buttonContainer {
  gap: 48px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftButtonContainer {
  gap: 48px;
  width: 50%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightButtonContainer {
  gap: 48px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  margin-right: 25px;
  background: none;
  border: none;
  color: #083F4C;
}
.button:hover {
  color: #C9D7DD;
  cursor: pointer;
}