/* For WebKit-based browsers */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* For all browsers */
input[type='number'] {
  /* This can remove the spinners if the above doesn't work */
  appearance: none;
}

.incrementer {
    border: none;
    background: none;
}

.incrementButton {
    background-color: #C9D7DD;
    border-radius: 10px;
    border: none;
}

.incrementButton:hover {
    background-color: #A5BDC7;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.incrementButton:active {
    background-color: #C9D7DD;
}

.notActive {
    opacity: 0;
}

/* Define the class for animation */
.fadeIn {
    opacity: 0;
    animation-name: fadeInOut;
    animation-duration: 5s;
}

/* Define keyframes for the animation */
@keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.addAssetButton {
    color: #083F4C;
    padding: 0.5rem 1rem;
    border-width: 1px;
    border-radius: 4px;
    opacity: 1;
    transition: opacity 1s;
}

.addAssetButton:hover {
    background-color: #82A2B0;
  }

.addAssetButton:disabled {
  background: none;
  color: grey;
  opacity: 0.5;
  transition: opacity 1s;
}

.addAssetButton:disabled:hover {
    background: black;
    opacity: 1;
  }

